h1{
    color: blueviolet;
    text-decoration: double;
    text-transform: uppercase;
}
p{
    background-color: azure;
    font-size: xx-large;
}
ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chartreuse;
}